@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.succesDeletedTodo{
    display: flex; 
    justify-content: center; 

    .succesDeletedTodo-container {
        margin: auto;
        text-align: center; 

        h1 {
            font-weight: 600;
            font-size: 25px;
            margin: 30px auto; 
        }

        .succesDeletedTodo-image {
            width: 500px; /* Задайте фиксированную ширину для изображения */
            height: auto; /* Сохраняйте пропорции изображения */
            transition: transform 0.3s ease; /* Плавный переход для трансформации */

            &:hover {
                transform: scale(1.1); /* Увеличение на 10% при наведении */
            }
        }
    }
}