.custom0input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.custom0input input::placeholder {
  font-size: 15px;
  color: black;
}
.custom-button {
  background-color: rgb(30, 151, 5) !important;
  border-color: #4CAF50 !important;
  transition: .3s ease-in-out;

  &:hover {
    background-color: rgb(233, 233, 233) !important; // Измените цвет фона при наведении
    color: rgb(30, 151, 5) !important;
  }
}