.demoLogo {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-right: 43px;
}

.menu {
    font-size: 18px;
    font-weight: 500;
    color: white;

    &:hover,
    .ant-menu-item:hover {
        color: rgb(50, 221, 15) !important;
        transition: 0.3s;
    }

    .ant-menu-item {
        color: white; // Переопределяем цвет по умолчанию
        transition: 0.3s;

        &:hover {
            color: rgb(50, 221, 15) !important;
        }
    }
}

.search-button {
    background-color: rgb(62, 194, 35) !important;
    color: white;
    transition: 0.3s;

    &:hover {
        background-color: rgb(233, 233, 233) !important; // Измените цвет фона при наведении
        color: rgb(30, 151, 5) !important;
    }
}